/*font for typing effect*/
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

/*************************/
/* GENERAL/UNIVERSAL*/
/*************************/

body {
    font-family: 'Proxima Nova', Georgia, sans-serif;
    color: #FFF;
    margin: 0;
}

a {
    text-decoration: none;
    color: #AAA;
}

a:hover{
    color: #555;
}

/* Temp style */
header{
    display: none;
}

/******************************************************************************/
/* BEGINNING ANIMATION BLOCK */
/******************************************************************************/

/*TESTING DOT*/
.centerDot{
    position:absolute;
    top: 50vh;
    left: 50vw;
    margin-left: -5px;
    margin-top: -5px;
    width: 10px;
	height: 10px;
	background: red;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
    display: none;
}

.animationContainer{
    
}


.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.animationOverlay {
    position: relative;
    top:0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #FFF;
}

.object{
    position:absolute;
    width: 150px;
    top:50vh;
    left: 50vw;
    margin-left: -75px;
    margin-top: -73.5px;
}

path, line, polyline {
    stroke: #FFF
    stroke-width: 2px
}

path {
    fill: transparent
}

/**************************************/
/* TYPEWRITER */ 
/**************************************/
.typeDeveloper{
    display: flex;
    justify-content: center;
    width: 100px;
    position:absolute;
    top:50vh;
    left: 50vw;
    margin-left: -50px;
    margin-top: -170px;
}

.typeDeveloper span{
    color: #AAA;
    width: 100px;
    font-family: 'Source Code Pro', monospace;
    overflow: hidden; /*Hides content until animation shows it*/
    border-right: .1em solid #AAA; /*blink-caret*/
    white-space:nowrap; /*content on single line*/
    margin: 0 auto; /*scrolling effect while typing happens*/
    letter-spacing: .1em; 
    animation: 
        typing 2s steps(9, end),
        blink-caret .8s step-end 4;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #AAA }
}


/**************************************/
/* 3D ANIMATION */
/*Currently not in use*/
/**************************************/
.dot{
    width: 20px;
	height: 20px;
	background: #D6B16F;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

/******************************************************************************/
/* NAVIGATION */
/******************************************************************************/

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li:first-child {
    margin: 0 10px 0 0;
}

nav ul li:last-child {
    margin: 0 0 0 20px;
}
