/*font for typing effect*/
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
/*@import url('https://fonts.googleapis.com/css?family=Antic+Didone');*/
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,400i');
/*************************/
/* GENERAL/UNIVERSAL*/
/*************************/

body {
    font-family: 'Proxima Nova', Georgia, sans-serif;
    color: #fff;
    margin: 0;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: #AAA;
}

a:hover{
    color: #555;
}

/* Temp style */
header{
    /*text-align: right;*/
}

positionRelative{
    position:relative;
}

.center{
    text-align: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/******************************************************************************/
/* BEGINNING ANIMATION BLOCK */
/******************************************************************************/

/*TESTING DOT*/
/*.centerDot{
    position:absolute;
    top: 50vh;
    left: 50vw;
    margin-left: -5px;
    margin-top: -5px;
    width: 10px;
	height: 10px;
	background: red;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
    z-index: 1000;
}*/

.animationContainer{
    position:relative;
}


.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.animationOverlay {
    position: absolute;
    top:0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #fff;
    z-index: 1;
    /*background: transparent;*/
    /*display:none;*/
}

.object{
    position:absolute;
    width: 150px;
    top:50vh;
    left: 50%;
    margin-left: -75px;
    margin-top: -73.5px;
}

path, line, polyline {
    stroke: #FFF
    stroke-width: 2px
}

path {
    fill: transparent
}

/**************************************/
/* TYPEWRITER */ 
/**************************************/
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #AAA }
}


.typeDeveloper{
    display: flex;
    justify-content: center;
    width: 225px;
    position:absolute;
    top:50vh;
    left: 50%;
    margin-left: -108px;
    margin-top: -170px;
}

.typeDeveloper span{
    color: #AAA;
    width: 225px;
    font-family: 'Source Code Pro', monospace;
    overflow: hidden; /*Hides content until animation shows it*/
    border-right: .1em solid #AAA; /*blink-caret*/
    white-space:nowrap; /*content on single line*/
    margin: 0 auto; /*scrolling effect while typing happens*/
    letter-spacing: .1em; 
    animation: 
        typing 1.5s steps(20, end),
        blink-caret .5s step-end 4;
}

/**************************************/
/* FLORAL DESIGN */ 
/**************************************/
#floralOutline,
#floralColors{
    display:none;
}

.floralPlacement{
    width: 1200px;
    position: absolute;
    top: 50vh;
    left: 50vw;
    margin-left: -610px;
    margin-top: -300px;
}

/**************************************/
/* 3D ANIMATION */
/*Currently not in use*/
/**************************************/
.dot{
    width: 20px;
	height: 20px;
	background: #D6B16F;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

/******************************************************************************/
/* NAVIGATION */
/******************************************************************************/

.navbar-toggleable-md .navbar-nav .nav-link{
    width: 25%;
    color: #AAA;
}

.navbar-toggleable-md .navbar-nav .nav-link:hover{
    color: #888;
}

.navbar-inverse .navbar-nav .active>.nav-link, .navbar-inverse .navbar-nav .nav-link.active, .navbar-inverse .navbar-nav .nav-link.open, .navbar-inverse .navbar-nav .open>.nav-link{
    color: #CD9C43;
}

.navbar-inverse .navbar-nav .active>.nav-link:hover, .navbar-inverse .navbar-nav .nav-link.active:hover, .navbar-inverse .navbar-nav .nav-link.open:hover, .navbar-inverse .navbar-nav .open>.nav-link:hover{
    color: #a37b35;
}

#toggleBtn{
    margin-top: 20px;
}

.navbar-inverse .navbar-toggler-icon{
    background-image: url("../img/svg/navToggler.svg");
}

/******************************************************************************/
/* MAIN PAGE (FLEX-BOX)*/
/******************************************************************************/
.grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 5vh 5vh 55vh 5vh 5vh;
    /*DEBD83*/
}

.left{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.right{
    grid-column-start: 2;
    grid-column-end: end;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color:#eee;
    border-left: 1px solid #DEBD83;
}

.top-right{
    grid-column-start: 2;
    grid-column-end: end;
    grid-row-start: 2;
    grid-row-end: 3;
    border-left: 1px solid #DEBD83;
}

.bottom-right{
    grid-column-start: 2;
    grid-column-end: end;
    grid-row-start: 4;
    grid-row-end: 5;
    border-left: 1px solid #DEBD83;
}

.divider{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}


/********************************/
/* Content */
/********************************/

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.content h1,
.content h2,
.content h3{
/*    font-family: 'Antic Didone', serif;*/
    font-family: 'Cormorant Garamond', serif;
}

.content h2{
    margin-bottom: 20px;
}

.content img{
    width: 50%;
}

.content p{
    font-size: 18px;
}

.content p span{
    color: #666;
}

.right-one div{
    width: 70%;
    color: #AAA;
}

.left-two div{
    width: 70%;
    color: #666;
    text-align: right;
}

.workbox-grid{
    padding: 50px;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
}

.work-a{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #111;
}
.work-b{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #222;
}
.work-c{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #333;
}
.work-d{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #444;
}
.work-e{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #555;
}   
.work-f{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #666;
}












































