/*font for typing effect*/
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
/*@import url('https://fonts.googleapis.com/css?family=Antic+Didone');*/
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,400i');
/*************************/
/* GENERAL/UNIVERSAL*/
/*************************/

body {
    font-family: 'Proxima Nova', Georgia, sans-serif;
    color: #fff;
    margin: 0;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: #AAA;
}

a:hover{
    color: #555;
}

/* Temp style */
header{
    /*text-align: right;*/
}

positionRelative{
    position:relative;
}

.center{
    text-align: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-padding{
    padding: 0 !important;
}

.button{
    border: 1px solid #AAA;
    box-shadow: 1px 1px 2px #999;
    padding: 10px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /*font-family: 'Antic Didone', serif;*/
    font-family: 'Cormorant Garamond', serif;
    background: none;
    text-transform: lowercase;
    cursor: pointer;
    
}


/******************************************************************************/
/* BEGINNING ANIMATION BLOCK */
/******************************************************************************/

/*TESTING DOT*/
/*.centerDot{
    position:absolute;
    top: 50vh;
    left: 50vw;
    margin-left: -5px;
    margin-top: -5px;
    width: 10px;
	height: 10px;
	background: red;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
    z-index: 1000;
}*/

.animationContainer,
#nameContainer{
    position:relative;
}


.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.animationOverlay {
    position: absolute;
    top:0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #fff;
    z-index: 1;
    /*background: transparent;*/
    /*display:none;*/
}

.object{
    position:absolute;
    width: 150px;
    top:50vh;
    left: 50%;
    margin-left: -75px;
    margin-top: -73.5px;
}

path, line, polyline {
    stroke: #FFF
    stroke-width: 2px
}

path {
    fill: transparent
}

/**************************************/
/* TYPEWRITER */ 
/**************************************/
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #AAA }
}


.typeDeveloper{
    display: flex;
    justify-content: center;
    width: 120px;
    position:absolute;
    top:50vh;
    left: 50%;
    margin-left: -130px;
    margin-top: -170px;
}

.typeDeveloper span{
    font-size: 20px;
    color: #AAA;
    width: 225px;
/*    font-family: 'Source Code Pro', monospace;*/
    font-family: 'Cormorant Garamond', serif;
    overflow: hidden; /*Hides content until animation shows it*/
    border-right: .1em solid #AAA; /*blink-caret*/
    white-space:nowrap; /*content on single line*/
    margin: 0 auto; /*scrolling effect while typing happens*/
    letter-spacing: .1em; 
    animation: 
        typing 1.5s steps(10, end),
        blink-caret .5s step-end 4;
}

/**************************************/
/* FLORAL DESIGN */ 
/**************************************/
#floralOutline,
#floralColors,
#designerText{
    display:none;
}

.designerTextContainer{
    position: absolute;
    width: 175px;
    top: 50vh;
    left: 50%;
    margin-top: -200px;
}

.floralPlacement{
    width: 1200px;
    position: absolute;
    top: 50vh;
    left: 50vw;
    margin-left: -610px;
    margin-top: -300px;
}

/**************************************/
/* SKIP ANIMATION */
/**************************************/
.skip{
    position: absolute;
    left: 50vw;
    top: 80vh;
    margin-left: -75px;
    width: 150px;
    color: #AAA;
    border: none;
    box-shadow: none;
}



/******************************************************************************/
/* NAVIGATION */
/******************************************************************************/

.navbar-toggleable-md .navbar-nav .nav-link{
    color: #AAA;
}

.resume-link{
    color: #AAA !important;
}

.resume-link:hover{
    color: #68A19C !important;
}

.navbar-toggleable-md .navbar-nav .nav-link:hover{
    color: #888;
    cursor:pointer;
}

.navbar-inverse .navbar-nav .active>.nav-link, .navbar-inverse .navbar-nav .nav-link.active, .navbar-inverse .navbar-nav .nav-link.open, .navbar-inverse .navbar-nav .open>.nav-link{
    color: #CD9C43;
}

.navbar-inverse .navbar-nav .active>.nav-link:hover, .navbar-inverse .navbar-nav .nav-link.active:hover, .navbar-inverse .navbar-nav .nav-link.open:hover, .navbar-inverse .navbar-nav .open>.nav-link:hover{
    color: #a37b35;
}

#toggleBtn{
    margin-top: 20px;
}

.navbar-inverse .navbar-toggler-icon{
    background-image: url("../img/svg/navToggler.svg");
}

/******************************************************************************/
/* MAIN PAGE (FLEX-BOX)*/
/******************************************************************************/
.arrow{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    margin-left: -25px;
}

.upArrow{
    top: -30px;
    background-image: url("../img/page/upArrow.png");
    cursor:pointer;
}

.downArrow{
    bottom: -30px;
    background-image: url("../img/page/downArrow.png");
    cursor:pointer;
}

.grid{
    position:relative;
    height:80vh;
    /*DEBD83*/
}

.grid .box{
    height:70%;
    width: 100%;
}

.left{

}

.right{
    border-left: 1px solid #DEBD83;
}


/********************************/
/* Content */
/********************************/

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.content h1,
.content h2,
.content h3,
.content h4{
/*    font-family: 'Antic Didone', serif;*/
    font-family: 'Cormorant Garamond', serif;
}

.content h2{
    margin-bottom: 20px;
}

.content img{
    width: 50%;
}

.content p{
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
}

.content p span{
    color: #555;
}

.left-one,
.right-one{
    background-color: #F2F2F2;
}

.right-one {
    background-image: url(../img/page/quotes.png);
    background-repeat: no-repeat;
    background-size: center;
}

.right-one > div{
    width: 70%;
    color: #AAA;
}

.left-two,
.right-three{
    background-color: #B5D9D6;
}

.left-two > div{
    width: 70%;
    color: #666;
    text-align: right;
}

.right-three > div{
    width: 80%;
    height:70%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.right-two,
.left-three {
    background-color: #F2F2F2;
}

/********************************/
/* SKILLS CONTENT */
/********************************/

.skillsContent h4{
    border-bottom: 1px dashed #68A19C;
    color: #68A19C;
}

.skillGroup{
    margin-bottom: 10px;
}

.skillGroup_last{
    margin-bottom: 0px;
}

.skillGroup span{
    padding: 0 0px 10px 10px;
    display: inline-block;
    border-radius: 10px;
}

/********************************/
/* WORK CONTENT */
/********************************/

.work{
    width: 33%;
    height: 50%;
    background-color: #FFF;
    display: inline-block;
    border: 5px solid #B5D9D6;
    border-radius: 50px;
    animation-name: miniZoomOut;
    animation-duration: 0.5s;
}

.work:hover{
    animation-name: miniZoomIn;
    animation-duration: 0.5s;
    width: 39%; 
    height: 56%;
    cursor: pointer;
}

@keyframes miniZoomIn {
    0%   {width: 33%; height: 50%;}
    100% {width: 39%; height: 56%;}
}

@keyframes miniZoomOut {
    0%   {width: 39%; height: 56%;}
    100% {width: 33%; height: 50%;}
}

.work .border{
    background-color: #EFEFEF;
    border: 10px solid #FFF;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: 1px 1px 10px #71A7A2;
    border-radius: 2px;
}

.work .smallImg{
    height:100%;
    width: 100%;
    object-fit: contain;
    background-color: #FFF;
}
.lightboxContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

#lightbox{
    position: relative;
    display: block;
    width: 1058px;
    height: 642px;
    border: 25px solid #FFF;
    border-radius: 5px;
    box-shadow: 5px 5px 20px #000;
}

.lightbox_img{
    background-image: url('../img/work/sureco_large.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
}

.lightboxDeleteBtn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #555;
    padding: 5px;
    cursor: pointer;
}

/******************************************************************************/
/* MEDIA QUERIES
/******************************************************************************/


/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px){
    
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .skip {
        font-size: 50px;
    }
    
    .grid {
        margin-top: 100px;
    }
    
    .grid .box {
        height: 100%;
    }
    
    .right{
        border-left: none;
        border-top: 1px solid #DEBD83;
        height: 50%;
    }
    
    .left{
        height: 50%;
    }
    
    .work{
        height: 70%;
        animation-name: none;
    }

    .work:hover{
        height: 70%;
        cursor: pointer;
    }
    
    .arrow{
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }

    .upArrow{
        top: -80px;
        width: 100px;
        height: 100px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .downArrow{
        bottom: -80px;
        width: 100px;
        height: 100px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .content img {
        width: 70%;
    }
    
    .content p {
        font-size: 50px;
        text-align: center;
    }
    
    /********************************/
    /* SKILLS CONTENT */
    /********************************/

    .skillsContent h4{
        border-bottom: 4px dashed #68A19C;
        font-size: 60px;
    }

    .skillGroup{
        margin-bottom: 10px;
    }

    .skillGroup_last{
        margin-bottom: 0px;
    }

    .skillGroup span{
        font-size: 30px;
    }
    
    
    .right-three > div {
        width: 90%;
        height: 50%;
    }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}





































